@tailwind base;
@tailwind components;
@tailwind utilities;

.sub-title {
  font-size: 1.2rem;
  font-weight: 400;
}

.title {
  font-size: 2rem;
  font-weight: 600;
}

/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
} */

* {
  box-sizing: border-box;
}
/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

.ql-syntax {
  background-color: #f8f8f8;
  border-radius: 3px;
  border: 1px solid #e8e8e8;
  color: #333;
  font-family: monospace;
  font-size: 1rem;
  margin: 0.5rem 0;
  padding: 0.5rem;
  white-space: pre-wrap;
}

.ql-font-monospace {
  font-family: monospace;
}

.ql-font-serif {
  font-family: serif;
}
